---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Forty Years of Transformation · Republic of Uganda · 1986–2026</title>
  </head>
  <body>
    <h1>Forty Years of Transformation</h1>
  </body>
</html>
